{% extends 'base.html' %}

{% block title %}Марочник материалов и сплавов{% endblock %}
{% block description %}Каталог черных и цветных материалов российских производителей - Марочник сталей и сплавов MetalWork Industrial{% endblock %}
{% block breadcrumb %}{% include 'blocks/marochnik-breadcrumb.html' %}{% endblock %}

{% block content %}
<div class="container">
    <main>
        <div class="material-content row mb-3">
            <div class="col-md-12">
                <div class="block bg-light rounded">
                    <article>
                        <h1>Марочник материалов и сплавов</h1>
                        <div class="row">
                            <div class="col">
                                <h2>Черные металлы и сплавы</h2>
                                <ul class="list-group list-group-flush">
                                    {% for item in items %}
                                    {% if item.metal_color == 1 %}
                                    <li class="list-group-item d-flex justify-content-between align-items-center bg-light">
                                        <a
                                                href="{{ item.get_absolute_url }}">{{ item }}</a>
                                        <span class="badge bg-primary rounded-pill">{{ item.count_materials }}</span>
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col">
                                <h2>Цветные металлы и сплавы</h2>
                                <ul class="list-group list-group-flush">
                                    {% for item in items %}
                                    {% if item.metal_color == 2 %}
                                    <li class="list-group-item d-flex justify-content-between align-items-center bg-light">
                                        <a href="{{ item.get_absolute_url }}">{{ item }}</a>
                                        <span class="badge bg-primary rounded-pill">{{ item.count_materials }}</span>
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}