{% extends 'base.html' %}

{% block title %}{{ subcategory.title }}{% endblock %}
{% block description %}{{ subcategory.description }}{% endblock %}
{% block breadcrumb %}{% include 'blocks/marochnik-breadcrumb.html' %}{% endblock %}

{% block content %}
<div class="container">
    <main>
        <div class="material-content row mb-3">
            <div class="col-md-12">
                <div class="block bg-light rounded">
                    <article>
                        <h1>{{ subcategory.h1 }}</h1>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>№</th>
                                    <th>Материал</th>
                                    <th>Стандарт</th>
                                    <th>Страна</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for material in materials %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td><a href="{{ material.get_absolute_url }}">{{ material.name }}</a></td>
                                    <td>ГОСТ</td>
                                    <td>Россия</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}