{% extends 'base.html' %}

{% block title %}{{ category.title }}{% endblock %}
{% block description %}{{ category.description }}{% endblock %}
{% block breadcrumb %}{% include 'blocks/marochnik-breadcrumb.html' %}{% endblock %}

{% block content %}
<div class="container">
    <main>
        <div class="material-content row mb-3">
            <div class="col-md-12">
                <div class="block bg-light rounded">
                    <article>
                        <h1>{{ category.h1 }}</h1>
                        <ol class="list-group list-group-numbered">
                            {% for subcategory in subcategories %}
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <a href="{{ subcategory.get_absolute_url_one }}">{{ subcategory.name }}</a>
                                </div>
                                <span class="badge bg-primary rounded-pill">{{ subcategory.quantity_materials }}</span>
                            </li>
                            {% endfor %}
                        </ol>
                    </article>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}