{% load static %}{% spaceless %}<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block description %}{% endblock %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <title>{% block title %}{% endblock %}</title>
    {% include 'blocks/counters-head.html' %}
</head>
<body>
{% include 'blocks/counters-body-top.html' %}
{% include 'blocks/header.html' %}
{% block breadcrumb %} {% endblock %}

{% block content %} {% endblock %}

{% if request.path != '/' %}{% include 'blocks/share.html' %}{% endif %}

{% include 'blocks/subscribe.html' %}
{% include 'blocks/footer.html' %}
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

<!--Попап картинок в металлографии-->
<script async type="text/javascript">
    document.addEventListener("click", function (e) {
        if (e.target.classList.contains("img-thumbnail")) {
            const src = e.target.getAttribute("src");
            document.querySelector(".modal-img").src = src;
            const alt = e.target.getAttribute("alt");
            document.querySelector(".header-popup").innerText = alt;
            const myModal = new bootstrap.Modal(document.getElementById("metallografy-popup"));
            myModal.show();
        }
    })
</script>
<!--Подсказки (хинты) для свойств материалов-->
<script type="text/javascript">
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="hint"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl)
    })
    var popover = new bootstrap.Popover(document.querySelector('.popover-dismiss'), {
        trigger: 'focus'
    })
</script>
</body>
</html>
{% endspaceless %}