<div class="container">
    <div class="col bg-light rounded mb-3">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
                <li class="breadcrumb-item" itemprop="itemListElement" itemscope
                    itemtype="https://schema.org/ListItem">
                    <a itemprop="item" href="{% url 'home:homepage' %}">
                        <span itemprop="name">Главная</span></a>
                    <meta itemprop="position" content="1"/>
                </li>
            {% url 'marochnik:marochnik-index-show' as marochnik %}
                {% if request.path == marochnik %}
                <li class="breadcrumb-item active" itemprop="itemListElement" itemscope
                    itemtype="https://schema.org/ListItem">
                    <span itemprop="name">Марочник сталей</span>
                    <meta itemprop="position" content="2"/>
                </li>
                {% else %}
                <li class="breadcrumb-item" itemprop="itemListElement" itemscope
                    itemtype="https://schema.org/ListItem">
                    <a itemprop="item" href="{{ marochnik }}">
                        <span itemprop="name">Марочник сталей</span></a>
                    <meta itemprop="position" content="2"/>
                </li>
                {% endif %}

                {% if subcategory_all %}
                <li class="breadcrumb-item active" itemprop="itemListElement" itemscope
                    itemtype="https://schema.org/ListItem">
                        <span itemprop="name">{{ category }}</span>
                    <meta itemprop="position" content="3"/>
                </li>
                {% endif%}

                {% if subcategory_one %}
                <li class="breadcrumb-item" itemprop="itemListElement" itemscope
                    itemtype="https://schema.org/ListItem">
                    <a itemprop="item" href="{{ subcategory.category.get_absolute_url }}">
                        <span itemprop="name">{{ subcategory.category }}</span></a>
                    <meta itemprop="position" content="3"/>
                </li>
                <li class="breadcrumb-item active" itemprop="itemListElement" itemscope
                    itemtype="https://schema.org/ListItem">
                        <span itemprop="name">{{ subcategory }}</span>
                    <meta itemprop="position" content="4"/>
                </li>
                {% endif%}

                {% if material_show %}
                <li class="breadcrumb-item" itemprop="itemListElement" itemscope
                    itemtype="https://schema.org/ListItem">
                    <a itemprop="item" href="{{ items.subcategory.category.get_absolute_url }}">
                        <span itemprop="name">{{ items.subcategory.category }}</span></a>
                    <meta itemprop="position" content="3"/>
                </li>
                <li class="breadcrumb-item" itemprop="itemListElement" itemscope
                    itemtype="https://schema.org/ListItem">
                    <a itemprop="item" href="{{ items.subcategory.get_absolute_url_one }}">
                        <span itemprop="name">{{ items.subcategory }}</span></a>
                    <meta itemprop="position" content="4"/>
                </li>
                <li class="breadcrumb-item active" itemprop="itemListElement" itemscope
                    itemtype="https://schema.org/ListItem">
                        <span itemprop="name">{{ items.name }}</span>
                    <meta itemprop="position" content="5"/>
                </li>
                {% endif%}
            </ol>
        </nav>
    </div>
</div>
