<!-- Footer -->
<footer class="text-center" style="background-color: rgba(0, 0, 0, 0.1);">
    <!-- Grid container -->
    <div class="container p-4">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a class="btn  btn-floating m-1" href="https://www.youtube.com/c/SterbrustCOM" target="_blank" role="button"
            ><i class="icon-youtube fs2rem"></i
                ></a>

            <!-- Vkontakte -->
            <a class="btn  btn-floating m-1" href="https://vk.com/sterbrust" target="_blank" role="button"
            ><i class="icon-vkontakte fs2rem"></i
                ></a>

            <!-- Telegram -->
            <span class="btn  btn-floating m-1" target="_blank" role="button"
            ><i class="icon-telegram fs2rem"></i
                ></span>
        </section>
        <!-- Section: Social media -->
    <!-- Section: Links -->
        <section>
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">О нас</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="{% url 'home:about' slug_about='project' %}">О проекте</a>
                        </li>
                        <li>
                            <a href="{% url 'home:about' slug_about='company' %}">О компании</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Источники</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="{% url 'home:about' slug_about='bug-report' %}">Сообщить об ошибке</a>
                        </li>
                        <li>
                            <a href="{% url 'home:about' slug_about='sources' %}">Источники информации</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Правовая информация</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="{% url 'home:about' slug_about='terms' %}">Пользовательское соглашение</a>
                        </li>
                        <li>
                            <a href="{% url 'home:about' slug_about='privacy-policy' %}">Политика конфиденциальности</a>
                        </li>
                        <li>
                            <a href="{% url 'home:about' slug_about='right-holders' %}">Правообладателям</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Возможности</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="{% url 'home:about' slug_about='ads' %}">Реклама на сайте</a>
                        </li>
                        <li>
                            <a href="{% url 'home:about' slug_about='contacts' %}">Контакты</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.1);">
        <p>Вы принимаете условия политики конфиденциальности и пользовательского соглашения каждый раз, когда оставляете свои данные
            в любой форме обратной связи на сайте MetalWorkInd.com</p>
        <p>Сайт носит информационный характер, некоторые страницы могут быть неактуальными или недостоверными.</p>
        © 2021 - {% now 'Y' %} | <a href="https://sterbrust.com/" target="_blank">Sterbrust</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
