   <div class="bg-light rounded mb-3">
        <div class="row p-2">
            <div class="col-md-3"></div>
            <div class="col-md-6" itemscope itemtype="https://schema.org/WebSite">
                <meta itemprop="url" content="#"/>
                <form action="#" method="GET" itemprop="potentialAction" itemscope
                      itemtype="https://schema.org/SearchAction">
                    <div class="block d-flex align-items-center">
                        <div class="input-group">
                            <meta itemprop="target"
                                  content="/ru/search?s="/>
                            <input type="search" class="form-control rounded" placeholder="Поиск материалов в марочнике"
                                   name="s"
                                   aria-label="Search"
                                   aria-describedby="search-addon"
                                   itemprop="query-input"
                            />
                            <button type="submit" class="btn btn-primary">Найти</button>
                        </div>
                    </div>
                </form>
            <!-- Button trigger modal -->
                <p class="text-center">
                    <a href="" data-bs-toggle="modal" data-bs-target="#searchModal">Расширенный поиск</a>
                </p>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>