<div class="container">
    <div class="col bg-light rounded mb-3">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
                <li class="breadcrumb-item" itemprop="itemListElement" itemscope
                    itemtype="https://schema.org/ListItem">
                    <a itemprop="item" href="{% url 'home:homepage' %}">
                        <span itemprop="name">Главная</span></a>
                    <meta itemprop="position" content="1"/>
                </li>
            {% url 'gosts:gosts-index-show' as gosts %}
                {% if request.path == gosts %}
                <li class="breadcrumb-item" itemprop="itemListElement" itemscope
                    itemtype="https://schema.org/ListItem">
                    <span itemprop="name">ГОСТы</span>
                    <meta itemprop="position" content="2"/>
                </li>
                {% else %}
                <li class="breadcrumb-item" itemprop="itemListElement" itemscope
                    itemtype="https://schema.org/ListItem">
                    <a itemprop="item" href="{{ gosts }}">
                        <span itemprop="name">ГОСТы</span></a>
                    <meta itemprop="position" content="2"/>
                </li>
                {% endif %}

            {% if gost_section %}
                {% for item in items %}
                <li class="breadcrumb-item" itemprop="itemListElement" itemscope
                    itemtype="https://schema.org/ListItem">
                        <span itemprop="name">{{ item.section_name }}</span>
                    <meta itemprop="position" content="3"/>
                </li>
                {% endfor %}
            {% endif %}

            {% if gost_subsection %}
                {% for item in items %}
                <li class="breadcrumb-item" itemprop="itemListElement" itemscope
                    itemtype="https://schema.org/ListItem">
                    <a itemprop="item" href="{{ item.section.get_absolute_url }}">
                        <span itemprop="name">{{ item.section.section_name }}</span></a>
                    <meta itemprop="position" content="3"/>

                </li>
                <li class="breadcrumb-item" itemprop="itemListElement" itemscope
                    itemtype="https://schema.org/ListItem">
                        <span itemprop="name">{{ item.subsection_name }}</span>
                    <meta itemprop="position" content="4"/>
                </li>
                {% endfor %}
            {% endif %}

            {% if gost_article %}
                {% for item in items %}
                <li class="breadcrumb-item" itemprop="itemListElement" itemscope
                    itemtype="https://schema.org/ListItem">
                    <a itemprop="item" href="{{ item.subsection.section.get_absolute_url }}">
                        <span itemprop="name">{{ item.subsection.section.section_name }}</span></a>
                    <meta itemprop="position" content="3"/>

                </li>
                <li class="breadcrumb-item" itemprop="itemListElement" itemscope
                    itemtype="https://schema.org/ListItem">
                    <a itemprop="item" href="{{ item.subsection.get_absolute_url }}">
                        <span itemprop="name">{{ item.subsection.subsection_name }}</span></a>
                    <meta itemprop="position" content="4"/>
                </li>
                <li class="breadcrumb-item" itemprop="itemListElement" itemscope
                    itemtype="https://schema.org/ListItem">
                        <span itemprop="name">{{ item.standard }} {{ item.standard_number }}</span>
                    <meta itemprop="position" content="5"/>
                </li>
                {% endfor %}
            {% endif %}
            </ol>
        </nav>
    </div>
</div>
