{% extends 'base.html' %}

{% block title %}Справочник{% endblock %}
{% block description %}Справочник{% endblock %}
{% block breadcrumb %}{% include 'blocks/breadcrumb.html' %}{% endblock %}

{% block content %}
 <div class="container">
        <main>
            <div class="material-content row mb-3">
                <div class="">
                    <div class="block bg-light rounded">
                        <article>
                            <h1>{{ category.h1 }}</h1>
                            {% include 'blocks/list_articles.html' %}
                            {% include 'blocks/pagination.html' %}
                        </article>
                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}