{% extends 'base.html' %}

{% block title %}{% if page_number > 1 %}{{ title }} | Страница {{ page_number }}{% else %}{{ title }}{% endif %}{% endblock %}
{% block description %}{% if page_number > 1 %}{{ description }} | Страница {{ page_number }}{% else %}{{ description }}{% endif %}{% endblock %}
{% block breadcrumb %}{% include 'blocks/breadcrumb.html' %}{% endblock %}

{% block content %}
<div class="container">
    <main>
        <div class="material-content row mb-3">
            <div>
                <div class="block bg-light rounded">
                    <article>
                        <h1>Справочник</h1>
                        {% include 'blocks/list_articles.html' %}
                        {% include 'blocks/pagination.html' %}
                    </article>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}