{% extends 'base.html' %}

{% block title %}{{ tag.title }}{% endblock %}
{% block description %}{{ tag.description }}{% endblock %}
{% block breadcrumb %}{% include 'blocks/breadcrumb.html' %}{% endblock %}

{% block content %}
<div class="container">
        <main>
            <div class="material-content row mb-3">
                <div class="">
                    <div class="block bg-light rounded">
                        <article>
                            <h1>{{ tag.h1 }}</h1>
                            {% include 'blocks/list_articles.html' %}
                            {% include 'blocks/pagination.html' %}
                        </article>
                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}