{% extends 'base.html' %}

{% block title %}METALWORKIND.COM{% endblock %}
{% block description %}METALWORKIND.COM{% endblock %}

{% block content %}
<div class="container">
        <div class="material-content row mb-3">
            <div class="col-md-12">
                <div class="block bg-light rounded">
                    <main>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <h5 class="card-title">Сборник материалов и сплавов</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Черные и цветные металлы</h6>
                                        <p class="card-text">Более 3000 материалов, поиск заменителей, иностранных
                                            аналогов.</p>
                                        <a href="" class="card-link link-div">Марочник</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <h5 class="card-title">Государственные стандарты РФ</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">ГОСТы</h6>
                                        <p class="card-text">База данных государственных стандартов и нормативной
                                            документации материалов.</p>
                                        <a href="" class="card-link link-div">Стандарты</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-4">
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <h5 class="card-title">Информационные публикации</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Статьи, аналитика</h6>
                                        <p class="card-text">Подборка публикаций о технологиях и способах
                                            металлообработки.</p>
                                        <a href="" class="card-link">Справочник</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12"><h1 class="my-3">Технологии, материалы, оборудование</h1></div>
                        <div class="row">
                            <div class="col">
                                <div class="table-responsive">
                                    <table class="table">
                                        <caption>Цены на металлы по состоянию
                                            на: 29-12-2022 16:23.
                                            Курс доллара ЦБ РФ на сегодня 76,8765 руб.</caption>
                                        <thead>
                                        <tr>
                                            <th>Металл</th>
                                            <th>Цена, USD</th>
                                            <th>%</th>
                                            <th>+/-</th>
                                            <th>Ед. измерения</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>WSFw</th>
                                                <td>wdVwev</td>
                                                <td>asdadbeb</td>
                                                <td>adsfvaev</td>
                                                <td>dvweVEWVw</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>



                        <div class="col-12"><h2 class="my-3">Новости компаний</h2></div>
                        <div class="row">
                            <div class="col">
                                    <ul class="news">
                                        <li class="mb-2"><a class="news-a" href="" target="_blank" rel="noopener">
                                                <div class="news-icon" style="background-image:/company-favicons/"></div>
                                                <span>sdvSDVsdvsDV</span></a></li>
                                    </ul>
                            </div>
                        </div>

                        <div class="col-12">
                            <h2>Последние публикации из справочника</h2>
                        </div>
                        <div class="row justify-content-start">
                            {% for item in items %}
                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 mb-4">
                                    <article class="card mb-3 sprav-header">
                                        <img src="{{ item.thumb_img_article.url }}">
                                        <header class="card-body">
                                            <p><a href="{{ item.get_absolute_url }}">{{ item.h1 }}</a></p>
                                        </header>
                                        <footer>
                                            <div class="btn-read mb-3 d-flex">
                                                <svg viewBox="0 0 22 22" width="15" height="24">
                                                    <rect width="100" height="1"></rect>
                                                    <rect y="5" width="100" height="1"></rect>
                                                    <rect y="10" width="100" height="1"></rect>
                                                    <rect y="15" width="100" height="1"></rect>
                                                </svg>
                                                <a href="{{ item.get_absolute_url }}" class="ms-2">Читать</a></div>
                                        </footer>
                                    </article>
                                </div>
                            {% endfor %}
                                <div class="text-end"><a href="{% url 'spravochnik:spravochnik-index-show'%}">Все материалы</a></div>
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </div>

{% endblock %}